.elementor-55 .elementor-element.elementor-element-9b42a5f .hero-block {
  height: 100vh;
}

.elementor-55
  .elementor-element.elementor-element-9b42a5f
  .hero-block
  .horizontal-border {
  background: #aeaeae;
}

.elementor-55
  .elementor-element.elementor-element-9b42a5f
  .hero-block
  .hero-subheading {
  color: #dddddd;
  font-family: "Dosis", Sans-serif;
  font-size: 1.953em;
  font-weight: 500;
}

.elementor-55
  .elementor-element.elementor-element-9b42a5f
  .hero-block
  .hero-title {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 6.323em;
  font-weight: 600;
}

.elementor-55
  .elementor-element.elementor-element-9b42a5f
  .hero-block
  .hero-designation
  > li {
  color: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-9b42a5f
  .hero-block
  .hero-designation
  > li:after {
  background: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-9b42a5f
  .hero-block
  .hero-video-btn
  .video-title {
  color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-9b42a5f
  .hero-block
  .hero-video-btn
  i {
  color: #ffffff;
  border-color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-9b42a5f
  .hero-block
  .hero-video-btn:hover
  .video-title {
  color: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-9b42a5f
  .hero-block
  .hero-video-btn:hover
  i {
  color: #e51681;
  border-color: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-bdea9ed:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-bdea9ed
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #1b1d38;
}

.elementor-55 .elementor-element.elementor-element-bdea9ed {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 92px 0px 105px 0px;
}

.elementor-55
  .elementor-element.elementor-element-bdea9ed
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-5c8e732
  .section-title
  .title-counter {
  color: #252c48;
  font-family: "Dosis", Sans-serif;
  font-size: 7.323em;
  font-weight: 700;
}

.elementor-55
  .elementor-element.elementor-element-5c8e732
  .section-title
  .title-main {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 2.441em;
  font-weight: 800;
  text-transform: uppercase;
}

.elementor-55
  .elementor-element.elementor-element-5c8e732
  .title-border
  .large-border {
  background: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-5c8e732
  .title-border
  .small-border {
  background: #ffffff;
}

.elementor-55 .elementor-element.elementor-element-5c8e732 .section-title {
  margin: 0px 0px 48px 0px;
}

.elementor-55
  .elementor-element.elementor-element-e3d104f
  .service-card
  .service-icon {
  color: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-e3d104f
  .service-card
  .service-title {
  color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-e3d104f
  .service-card
  .service-list {
  color: #c3c3c3;
}

.elementor-55 .elementor-element.elementor-element-e3d104f .service-card {
  background: #13152e;
}

.elementor-55
  .elementor-element.elementor-element-e3d104f
  .service-carousel
  .owl-item.center
  .service-card {
  background: #252c48;
}

.elementor-55
  .elementor-element.elementor-element-e3d104f
  .service-carousel
  .owl-dots
  .owl-dot {
  background: #252c48;
}

.elementor-55
  .elementor-element.elementor-element-e3d104f
  .service-carousel
  .owl-dots
  .owl-dot.active {
  background: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-e3d104f
  .service-hover-content {
  background: #e51681;
  color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-6736f33:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-6736f33
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #13152e;
}

.elementor-55 .elementor-element.elementor-element-6736f33 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 92px 0px 0px 0px;
}

.elementor-55
  .elementor-element.elementor-element-6736f33
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-c06861d
  .section-title
  .title-counter {
  color: #252c48;
  font-family: "Dosis", Sans-serif;
  font-size: 7.323em;
  font-weight: 700;
}

.elementor-55
  .elementor-element.elementor-element-c06861d
  .section-title
  .title-main {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 2.441em;
  font-weight: 800;
  text-transform: uppercase;
}

.elementor-55
  .elementor-element.elementor-element-c06861d
  .title-border
  .large-border {
  background: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-c06861d
  .title-border
  .small-border {
  background: #ffffff;
}

.elementor-55 .elementor-element.elementor-element-c06861d .section-title {
  margin: 0px 0px 49px 0px;
}

.elementor-55
  .elementor-element.elementor-element-c06861d
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}

.elementor-55 .elementor-element.elementor-element-2b0e8ec {
  text-align: center;
}

.elementor-55
  .elementor-element.elementor-element-2b0e8ec.elementor-widget-heading
  .elementor-heading-title {
  color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-2b0e8ec
  .elementor-heading-title {
  font-family: "Dosis", Sans-serif;
  font-size: 2.441em;
  font-weight: 700;
  letter-spacing: 0.015px;
}

.elementor-55
  .elementor-element.elementor-element-2b0e8ec
  > .elementor-widget-container {
  margin: 0px 0px 15px 0px;
}

.elementor-55
  .elementor-element.elementor-element-fcb34ba:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-fcb34ba
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #13152e;
}

.elementor-55 .elementor-element.elementor-element-fcb34ba {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-55
  .elementor-element.elementor-element-fcb34ba
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-9e2f48a
  .elementor-text-editor {
  text-align: center;
}

.elementor-55 .elementor-element.elementor-element-9e2f48a {
  color: #c3c3c3;
  font-family: "Dosis", Sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.elementor-55
  .elementor-element.elementor-element-9f7610e:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-9f7610e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #13152e;
}

.elementor-55 .elementor-element.elementor-element-9f7610e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-9f7610e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-2de36e6
  > .elementor-element-populated {
  padding: 0px 15px 0px 0px;
}

.elementor-55 .elementor-element.elementor-element-23520ab .progress-content {
  background-color: #e51681;
}

.elementor-55 .elementor-element.elementor-element-23520ab .progress-outter {
  background-color: #252c48;
}

.elementor-55 .elementor-element.elementor-element-23520ab .progress-mark span,
.progress-title-holder {
  color: #ededed;
  font-family: "Dosis", Sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.elementor-55 .elementor-element.elementor-element-2787cc4 .progress-content {
  background-color: #e51681;
}

.elementor-55 .elementor-element.elementor-element-2787cc4 .progress-outter {
  background-color: #252c48;
}

.elementor-55 .elementor-element.elementor-element-2787cc4 .progress-mark span,
.progress-title-holder {
  color: #ededed;
  font-family: "Dosis", Sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.elementor-55
  .elementor-element.elementor-element-2e33f4f
  > .elementor-element-populated {
  padding: 0px 0px 0px 15px;
}

.elementor-55 .elementor-element.elementor-element-6bb02e6 .progress-content {
  background-color: #e51681;
}

.elementor-55 .elementor-element.elementor-element-6bb02e6 .progress-outter {
  background-color: #252c48;
}

.elementor-55 .elementor-element.elementor-element-6bb02e6 .progress-mark span,
.progress-title-holder {
  color: #ededed;
  font-family: "Dosis", Sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.elementor-55 .elementor-element.elementor-element-6705d5e .progress-content {
  background-color: #e51681;
}

.elementor-55 .elementor-element.elementor-element-6705d5e .progress-outter {
  background-color: #252c48;
}

.elementor-55 .elementor-element.elementor-element-6705d5e .progress-mark span,
.progress-title-holder {
  color: #ededed;
  font-family: "Dosis", Sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.elementor-55
  .elementor-element.elementor-element-ce99f39:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-ce99f39
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #13152e;
}

.elementor-55 .elementor-element.elementor-element-ce99f39 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-ce99f39
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55 .elementor-element.elementor-element-bc1541f {
  text-align: center;
  z-index: 5;
}

.elementor-55
  .elementor-element.elementor-element-bc1541f
  .elementor-image
  img {
  width: 95%;
}

.elementor-55
  .elementor-element.elementor-element-bc1541f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.elementor-55 .elementor-element.elementor-element-2702fd8 {
  margin-top: -28px;
  margin-bottom: 0px;
}

.elementor-55 .elementor-element.elementor-element-4b6e826 .fun-facts-block {
  margin: -122px 0px 0px 0px;
  padding: 235px 0px 120px 0px;
  background-color: #1b1d38;
}

.elementor-55
  .elementor-element.elementor-element-4b6e826
  .tg-promo-number
  .promo-title {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 1.25em;
  font-weight: 600;
}

.elementor-55
  .elementor-element.elementor-element-4b6e826
  .tg-promo-number
  .odometer {
  font-family: "Dosis", Sans-serif;
  font-size: 7.323em;
  font-weight: 600;
  color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-4b6e826
  .hg-promo-numbers
  > .row
  > .col-lg-3
  .tg-promo-number:after {
  background-color: rgba(255, 255, 255, 0.15);
}

.elementor-55 .elementor-element.elementor-element-81c100b .call-to-action {
  padding: 115px 0px 125px 0px;
}

.elementor-55 .elementor-element.elementor-element-81c100b .call-to-title {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 2.9292em;
  font-weight: 600;
}

.elementor-55
  .elementor-element.elementor-element-81c100b
  .call-to-action
  .hg-overlay:before {
  background-color: rgba(27, 29, 56, 0.75);
}

.elementor-55
  .elementor-element.elementor-element-81c100b
  .call-to-action
  .btn-call-to {
  background-color: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-81c100b
  .call-to-action
  .btn-call-to:hover {
  background-color: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-d7f907c:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-d7f907c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #1b1d38;
}

.elementor-55 .elementor-element.elementor-element-d7f907c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-d7f907c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-2e71d3d
  .section-title
  .title-counter {
  color: #252c48;
  font-family: "Dosis", Sans-serif;
  font-size: 7.323em;
  font-weight: 700;
}

.elementor-55
  .elementor-element.elementor-element-2e71d3d
  .section-title
  .title-main {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 2.441em;
  font-weight: 800;
  text-transform: uppercase;
}

.elementor-55
  .elementor-element.elementor-element-2e71d3d
  .title-border
  .large-border {
  background: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-2e71d3d
  .title-border
  .small-border {
  background: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-2e71d3d
  > .elementor-widget-container {
  padding: 92px 0px 0px 0px;
}

.elementor-55
  .elementor-element.elementor-element-731c51c:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-731c51c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #1b1d38;
}

.elementor-55 .elementor-element.elementor-element-731c51c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 90px 0px;
}

.elementor-55
  .elementor-element.elementor-element-731c51c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-1059b69
  .portfolio-item
  .portfolio-thumb
  .popup
  .popup-inner
  a {
  color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-1059b69
  .portfolio-item
  .content
  h3 {
  color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-1059b69
  .portfolio-item
  .content
  .cate {
  color: #fafafa;
}

.elementor-55
  .elementor-element.elementor-element-1059b69
  .portfolio-item
  .portfolio-thumb
  .overlay {
  background-color: rgba(229, 22, 129, 0.75);
}

.elementor-55
  .elementor-element.elementor-element-1059b69
  .portfolio-item
  .portfolio-thumb
  .overlay:before {
  border-color: rgba(255, 255, 255, 0.45);
}

.elementor-55
  .elementor-element.elementor-element-b09459b:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-b09459b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/contact-bg.jpg");
}

.elementor-55
  .elementor-element.elementor-element-b09459b
  > .elementor-background-overlay {
  background-color: rgba(27, 29, 56, 0.75);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55 .elementor-element.elementor-element-b09459b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 93px 0px 110px 0px;
}

.elementor-55
  .elementor-element.elementor-element-66ccfa3
  .section-title
  .title-counter {
  color: rgba(225, 225, 225, 0.22);
  font-family: "Dosis", Sans-serif;
  font-size: 7.323em;
  font-weight: 700;
}

.elementor-55
  .elementor-element.elementor-element-66ccfa3
  .section-title
  .title-main {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 2.441em;
  font-weight: 800;
  text-transform: uppercase;
}

.elementor-55
  .elementor-element.elementor-element-66ccfa3
  .title-border
  .large-border {
  background: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-66ccfa3
  .title-border
  .small-border {
  background: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-f57d809
  .client-testimonial
  .testimonial-details {
  background: #1b1d38;
}

.elementor-55
  .elementor-element.elementor-element-f57d809
  .client-testimonial
  .testimonial-details
  .client-name {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.elementor-55
  .elementor-element.elementor-element-f57d809
  .client-testimonial
  .testimonial-details
  .details {
  color: #dddddd;
  font-family: "Dosis", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.elementor-55
  .elementor-element.elementor-element-f57d809
  .client-testimonial
  .client-thumb {
  border-color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-f57d809
  .testimonial-carousel
  .owl-dots
  .owl-dot {
  background: rgba(27, 29, 56, 0.5);
}

.elementor-55
  .elementor-element.elementor-element-f57d809
  .testimonial-carousel
  .owl-dots
  .owl-dot.active {
  background: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-7babbeb:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-7babbeb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #13152e;
}

.elementor-55 .elementor-element.elementor-element-7babbeb {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 105px 0px;
}

.elementor-55
  .elementor-element.elementor-element-7babbeb
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55 .elementor-element.elementor-element-5dab927 {
  text-align: center;
}

.elementor-55
  .elementor-element.elementor-element-e6559a5
  > .elementor-element-populated {
  margin: 0px 0px 15px 0px;
}

.elementor-55 .elementor-element.elementor-element-a24eaa9 {
  text-align: center;
}

.elementor-55
  .elementor-element.elementor-element-4572ccc
  > .elementor-element-populated {
  margin: 0px 0px 15px 0px;
}

.elementor-55 .elementor-element.elementor-element-a16f07c {
  text-align: center;
}

.elementor-55
  .elementor-element.elementor-element-7cca90e
  > .elementor-element-populated {
  margin: 0px 0px 15px 0px;
}

.elementor-55 .elementor-element.elementor-element-c57707c {
  text-align: center;
}

.elementor-55
  .elementor-element.elementor-element-b1d0237
  > .elementor-element-populated {
  margin: 0px 0px 15px 0px;
}

.elementor-55 .elementor-element.elementor-element-061833c {
  text-align: center;
}

.elementor-55
  .elementor-element.elementor-element-061833c
  > .elementor-widget-container {
  margin: 0px 0px 15px 0px;
}

.elementor-55
  .elementor-element.elementor-element-cadf8f2:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-cadf8f2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #1b1d38;
}

.elementor-55 .elementor-element.elementor-element-cadf8f2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-cadf8f2
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-4611808
  .section-title
  .title-counter {
  color: #252c48;
  font-family: "Dosis", Sans-serif;
  font-size: 7.323em;
  font-weight: 700;
}

.elementor-55
  .elementor-element.elementor-element-4611808
  .section-title
  .title-main {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 2.441em;
  font-weight: 800;
  text-transform: uppercase;
}

.elementor-55
  .elementor-element.elementor-element-4611808
  .title-border
  .large-border {
  background: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-4611808
  .title-border
  .small-border {
  background: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-4611808
  > .elementor-widget-container {
  margin: 92px 0px 0px 0px;
}

.elementor-55
  .elementor-element.elementor-element-406db30:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-406db30
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #1b1d38;
}

.elementor-55 .elementor-element.elementor-element-406db30 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 70px 0px;
}

.elementor-55
  .elementor-element.elementor-element-406db30
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55
  .elementor-element.elementor-element-2696e40
  .post-item
  .post
  .post-thumb
  .entry-date {
  background-color: #1b1d38;
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.elementor-55
  .elementor-element.elementor-element-2696e40
  .post-item
  .post
  .entry-title {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 1.4em;
  font-weight: 700;
}

.elementor-55
  .elementor-element.elementor-element-2696e40
  .post-item
  .post
  .post-detail
  .entry-cat {
  color: #828282;
  font-family: "Dosis", Sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.elementor-55
  .elementor-element.elementor-element-59a35a7:not(.elementor-motion-effects-element-type-background),
.elementor-55
  .elementor-element.elementor-element-59a35a7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/contact-bg.jpg");
}

.elementor-55
  .elementor-element.elementor-element-59a35a7
  > .elementor-background-overlay {
  background-color: rgba(27, 29, 56, 0.75);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-55 .elementor-element.elementor-element-59a35a7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 92px 0px 105px 0px;
}

.elementor-55
  .elementor-element.elementor-element-510aa49
  .section-title
  .title-counter {
  color: rgba(42, 43, 71, 0.68);
  font-family: "Dosis", Sans-serif;
  font-size: 7.323em;
  font-weight: 700;
}

.elementor-55
  .elementor-element.elementor-element-510aa49
  .section-title
  .title-main {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 2.441em;
  font-weight: 800;
  text-transform: uppercase;
}

.elementor-55
  .elementor-element.elementor-element-510aa49
  .title-border
  .large-border {
  background: #e51681;
}

.elementor-55
  .elementor-element.elementor-element-510aa49
  .title-border
  .small-border {
  background: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-2ede084
  .contact-item
  .icon
  i {
  background: #e51681;
  color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-2ede084
  .contact-item
  .info-title {
  color: #ffffff;
  font-family: "Dosis", Sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.elementor-55
  .elementor-element.elementor-element-2ede084
  .contact-item
  .info-detail {
  color: #dddddd;
}

.elementor-55 .elementor-element.elementor-element-2ede084 .contact-item {
  margin: 0px 0px 51px 0px;
}

.elementor-55 .elementor-element.elementor-element-190942b form.wpcf7-form {
  color: #ffffff;
}

.elementor-55
  .elementor-element.elementor-element-190942b
  form.wpcf7-form
  label {
  display: inline-block;
  font-family: "Dosis", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.015px;
}

.elementor-55
  .elementor-element.elementor-element-190942b
  .wpcf7-form-control-wrap
  input:not(.wpcf7-submit),
.wpcf7-form-control-wrap textarea {
  padding: 15px 15px 15px 15px;
  background: #1b1d38;
  font-family: "Dosis", Sans-serif;
  font-size: 16px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #25284a;
}

.elementor-55
  .elementor-element.elementor-element-190942b
  .wpcf7-form-control-wrap
  input:not(.wpcf7-submit),
.elementor-55
  .elementor-element.elementor-element-190942b
  .wpcf7-form-control-wrap
  textarea {
  width: 100%;
}

.elementor-55
  .elementor-element.elementor-element-190942b
  .wpcf7-form-control.wpcf7-submit {
  padding: 19px 19px 19px 19px;
  width: 33%;
  color: #ffffff;
  background: #e51681;
}

@media (min-width: 768px) {
  .elementor-55 .elementor-element.elementor-element-9d7620c {
    width: 11.403%;
  }
  .elementor-55 .elementor-element.elementor-element-9dd6018 {
    width: 77.194%;
  }
  .elementor-55 .elementor-element.elementor-element-dfb0050 {
    width: 11.403%;
  }
  .elementor-55 .elementor-element.elementor-element-c431003 {
    width: 11.403%;
  }
  .elementor-55 .elementor-element.elementor-element-20eb427 {
    width: 77.194%;
  }
  .elementor-55 .elementor-element.elementor-element-ffbfc25 {
    width: 11.403%;
  }
  .elementor-55 .elementor-element.elementor-element-d7582fd {
    width: 33.661%;
  }
  .elementor-55 .elementor-element.elementor-element-3342f5a {
    width: 66.339%;
  }
}

@media (max-width: 1024px) {
  .elementor-55
    .elementor-element.elementor-element-9b42a5f
    .hero-block
    .hero-title {
    font-size: 4.8em;
  }
  .elementor-55
    .elementor-element.elementor-element-190942b
    .wpcf7-form-control.wpcf7-submit {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .elementor-55
    .elementor-element.elementor-element-9b42a5f
    .hero-block
    .hero-subheading {
    font-size: 1.5em;
  }
  .elementor-55
    .elementor-element.elementor-element-9b42a5f
    .hero-block
    .hero-title {
    font-size: 2.7em;
  }
  .elementor-55
    .elementor-element.elementor-element-f57d809
    .client-testimonial
    .testimonial-details {
    padding: 85px 15px 45px 15px;
  }
  .elementor-55
    .elementor-element.elementor-element-190942b
    .wpcf7-form-control.wpcf7-submit {
    width: 100%;
  }
}
